<!DOCTYPE html>
<html lang="en">
    
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="/Flat_css/about.css">
   <title>Contact us</title>

</head>
<body>
  <div class="heading" >
      <h1>Our Team</h1>
  </div>

    <div class="container">

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/arya.jpeg" alt="Not available">
                </div>
                <div class="contentBx">
                    <h4>Aarya Ghate </h4>
                    <br>
                    <h5>FrontEnd Developer</h5>
                </div>
                
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/shubh.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Shubham Dadas</h4>
                  
                    <br>
                    <h5>Backend Developer</h5>
                </div>
               
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/atharv.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Atharv </h4>
                    <br>
                    <h5>FrontEnd Developer</h5>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/ganesh.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Ganesh Sakat</h4>
                    <br>
                    <h5>FrontEnd Developer</h5>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/Dhanashree.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Dhanashri Gawai</h4>
                    <br>
                    <h5>FrontEnd Developer</h5>
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>