<%- include('flat_header') %>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div>
                <a href="/flat_index">
                <span class="text-gradient">All Flats</span>
                </a>
                 </div>
            </div>

            <!-- <div class="form-title text-center">
                  <h2 class="text-dark">New Flat</h2>
                  <span class="text-light">Use the buttton</span>
            </div> -->
            <%- include("Flat_form") %>
        </div>
    </main>
<%- include('flat_footer') %>