<!DOCTYPE html>
<html lang="en">
    
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="/Flat_css/contact.css">
   <title>Contact us</title>

</head>
<body>
  <div class="heading" >
      <h1>Our Team</h1>
  </div>

    <div class="container">

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/arya.jpeg" alt="Not available">
                </div>
                <div class="contentBx">
                    <h4>Aarya Ghate </h4>
                    <h3>Contact:</h3>
                    <h3>7741898303</h3>
                </div>
                <div class="sci">
                    <a href="https://www.linkedin.com/in/aarya-ghate-9947a322a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/aaryag2806?igshid=ZGUzMzM3NWJiOQ=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/GhateAarya28?t=BSs9t-bH6aSAtxX7QISflg&s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/shubh.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Shubham Dadas</h4>
                    <h3>Contact:</h3>
                    <h3>9405316256</h3>
                </div>
                <div class="sci">
                    <a href="https://in.linkedin.com/in/shubham-dadas-133b58238"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/shubhamdadas095?igshid=MzNlNGNkZWQ4Mg=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Shubham_Dadas?t=PZWDciCM5lO6HqQsYPeJkQ&s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/atharv.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Atharv </h4>
                    <h3>Contact:</h3>
                    <h3>8767938922</h3>
                </div>
                <div class="sci">
                    <a href="https://www.linkedin.com/in/atharva-dandgawhal-713201274/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <!-- <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                    <!-- <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/ganesh.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Ganesh Sakat</h4>
                    <h3>Contact:</h3>
                    <h3>9767240605</h3>
                </div>
                <div class="sci">
                    <!-- <a href="/"><i class="fa fa-linkedIn" aria-hidden="true"></i></a> -->
                    <a href="https://instagram.com/just_ganesh7_?igshid=MzNlNGNkZWQ4Mg=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/beyond_ganesh?t=MjuXLMnYG2W7AFAq86j4lg&s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/images/Dhanashree.jpeg">
                </div>
                <div class="contentBx">
                    <h4>Dhanashri Gawai</h4>
                    <h3>Contact:</h3>
                    <h3>9075842586</h3>
                </div>
                <div class="sci">
                    <a href="https://www.linkedin.com/in/dhanashri-gawai-b2b34024a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/dhanashri1362?igshid=MzNlNGNkZWQ4Mg=="><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/DhanashriGawai"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>