<!DOCTYPE html>
<html>
<head>
	<title>Hostel Management System</title>
	<link rel="stylesheet" href="/Flat_css/index.css">
</head>

<body>
  <meta charset="utf-8">

  <meta http-equiv="U-XA-Compatible" content="ie=edge">
  
    <meta name="viewport" content="width= device-width, initial-scale= 1.0">
  
    <title>HOSTELITEZ</title> 
    <div class="slider"></div>
    <div class="hero">
 

    
    <div class="main-header">
        <div class="header">
            <h1 class="logo">HOSTELITEZ</h1>
            <div class="navigation">
                <ul>
                    <li><a href="/" class="active"   >Home</a></li>
                    <li><a href="about" >About us</a></li>
                      
                        <li class="dropdown">
                          <a href="#" class="dropbtn">Login</a>
                          <div class="dropdown-content">
                            <a href="student_login">Student</a>
                            <a href="owner_login">Owner</a>
                          </div>
                        </li>

						<li class="dropdown">
							<a href="#" class="dropbtn">Registration</a>
							<div class="dropdown-content">
							  <a href="student_register">Student</a>
							  <a href="owner_register">Owner</a>
							</div>
						  </li>
                        

                     <li><a href="contact" >Contact</a></li>
                   
                    
                </ul>
            </div>
            
        </div>
        
        </div>
        
        </div>
          
        
          <div class="slide active">
            <img src="/images/h1.jpeg" >
          </div>
          <div class="slide">
            <img src="/images/h2.jpeg" >
          </div>
          <div class="slide">
            <img src="/images/h3.jpeg" >
          </div>	
          <div class="slide">
            <img src="/images/h4.jpeg" >
          </div>

        </div>
        <div class="form-box">
          <h1> <pre>   FEEL AT HOME </pre></h1>
     
          <h1>AWAY FROM HOME</h1>
          </div>        
        <script src="/js/index.js">
         
        </script>

        </body>
        </html>