<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=b n, initial-scale=1.0">
    <title>registration complete </title>
    <link rel="stylesheet" href="/Flat_css/404.css">
</head>
<body>
    <div class="error-page">
    <div class ="content">
        <h4 data-text="Registration complete !">Registeration Complete ! </h4>
        <p>Thank you for registering to HOSTELITEZ</p>
        <br><div class="btns">
            <a href="/">return home</a>
        </div>
        </div>
        </div>
    
</body>
</html>